.companions-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-basis: 950px;
  }
}

.companions-list__item {
  position: relative;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.companions-list__item:last-child {
  margin: 0;
}

.companions-list__more-link {
  align-self: center;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 74px;
    margin-bottom: 70px;
  }
}

.companions-list__list {
  @include list-reset;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}
