.companion-form__inner {
  padding: 0 5px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding: 31px 0 37px;
    border-top: 1px solid #f3c72b;
    border-bottom: 1px solid #f3c72b;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    border: none;
  }
}

.companion-form__item {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}


.companion-form__item-transport {
  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.companion-form__item-level {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}


.companion-form__submit {
  @media (min-width: $desktop-width) {
    margin-top: 25px;
  }
}
