.current-level__title {
  position: relative;
  margin: 0;
  margin-bottom: 6px;
  font-size: 13px;
  padding: 0 6px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 1px;
    background-color: #edeff6;
  }
}
