.map {
  overflow: hidden;
}

.map__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.map__real {
  width: 100%;
  height: 750px;
  border: 0;

  @media (min-width: $tablet-width) {
    height: 800px;
  }

  @media (min-width: $desktop-width) {
    height: 754px;
  }
}
