.prices {
  padding: 80px 25px 40px;
  background-image: url("../img/rates@1x.png");
  background-size: 99px 99px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: 100% -5%;
  background-color: $main-grey;
  border-radius: 0 0 30px 30px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/rates@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding: 251px 40px 89px;
    background-image: url("../img/rates@1x.png"), url("../img/light-back.png");
    background-position: 92% 113%,100% 69%;
    background-size: 99px 99px, auto;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
  (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background-image: url("../img/rates@2x.png"), url("../img/light-back.png");
  }

  @media (min-width: $desktop-width) {
    padding: 190px 60px 190px;
    background-image: url("../img/rates@1x.png"), url("../img/light-back-desktop.png");
    background-position: 93% 70%, 78% 80%;
    background-size: auto, auto;
  }
}

.prices__inner {
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding-right: 35px;
    background-position: 100% 110%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px;
    background-size: 198px 198px;
    background-position: 100% 65%;
  }
}

.prices__title {
  @include section-title;
  margin: 0;
  width: 100px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: auto;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 135px;
  }
}

.prices__list {
  position: relative;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.prices__link {
  position: relative;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 90px;
  }
}


.prices__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
