.routes {
  padding: 130px 25px 32px;
  background-color: $main-grey;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    padding: 157px 40px 80px;
    border-radius: 0 0 60px 60px;
    background-image: url("../img/flags-back@1x.png"), url("../img/light-back.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: right 3%, left 42%;
    background-size: auto, 141px 141px;
  }

  @media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
    (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
    background-image: url("../img/flags-back@2x.png"), url("../img/light-back.png");
    background-size: 289px 575px, 141px 141px;
  }

  @media (min-width: $desktop-width) {
    padding: 180px 60px 107px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    background-position: top right, left top;
  }
}

.routes__item {
  position: relative;
  margin: 0;
}

.routes__item:not(:first-child) {
  margin-top: 9px;
}

.routes__inner {
  @media (min-width: $tablet-width) {
    padding: 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 73px 179px 0 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.routes__wrap {
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 106px;
  }
}

.routes__title {
  @include section-title;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.routes__text {
  @include text-dark;
  margin: 0;
  width: 195px;

  @media (min-width: $tablet-width) {
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.routes__list {
  @include list-reset;
  margin-top: 62px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 560px;
    margin: 0;
  }
}
