/*Медиа-размеры экранов*/
$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*ЦВЕТА*/
/*-----Основные цвета макета-----*/
$main-yellow:       #ffd74b;
$main-darkblue:     #192144;
$main-white:        #ffffff;
$main-grey:         #edeff6;

/*-----Цвета элементов-----*/
$title-orange:      #ff8d30;
$text-light:        #ffffff;
$text-dark:         #444444;
$link-darkblue:     #1d2e5b;
$icon-darkblue:     #121936;
$placeholder-grey:  rgba(68, 68, 68, 0.3);

$status-offline:    #f97676;
$status-online:     #81e31e;
