.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.social-link--footer {
  background-color: $main-yellow;
  border-radius: 50%;

  &:hover {
    background-color: $main-darkblue;

    .social-link__icon {
      fill: rgba(255, 255, 255, 1);
    }
  }

  &:active {
    background-color: $main-darkblue;

    .social-link__icon {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

.social-link__icon--fb {
  width: 11px;
  height: 21px;

  @media (min-width: $tablet-width) {
    width: 14px;
    height: 28px;
  }
}

.social-link__icon--vk {
  width: 23px;
  height: 12px;

  @media (min-width: $tablet-width) {
    width: 31px;
    height: 16px;
  }
}

.social-link__icon--inst {
  width: 18px;
  height: 18px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}
