.menu-button {
  width: 25px;
  height: 19px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    top: 50%;
    left: 50%;
    display: block;
    width: 25px;
    height: 2px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #192144;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.menu-button--close {
  height: 11px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    transform: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    transform: none;
  }
}

.menu-button--hide {
  display: none;
}
