.footer {
  box-sizing: border-box;
  min-height: 239px;
  background-color: $white;
  border-radius: 25px 25px 0 0;
  padding: 38px 25px 15px;

  @media (min-width: $tablet-width) {
    min-height: 154px;
    border-radius: 40px 40px 0 0;
    padding: 47px 40px;
  }

  @media (min-width: $desktop-width) {
    min-height: 154px;
    border-radius: 60px 60px 0 0;
    padding: 47px 60px;
  }
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 186px;
  ;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
