.footer {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  min-height: 239px;
  margin: 0 auto;
  background-color: $main-white;
  border-radius: 25px 25px 0 0;
  padding: 38px 25px 15px;

  @media (min-width: $tablet-width) {
    min-height: 154px;
    border-radius: 50px 50px 0 0;
    padding: 47px 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    min-height: 154px;
    border-radius: 60px 60px 0 0;
    padding: 47px 60px;
  }
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 186px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
