.header {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 25px 30px;
  background-color: $main-white;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 40px 40px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 60px 0px;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.header--dark {
  background-color: #161c35;
}

.header--hide {
  display: none;
}

.header__menu-button {
  position: relative;
  margin-left: auto;
  order: 1;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__nav {
  width: 100%;
  margin-top: 75px;
  order: 2;

  @media (min-width: $tablet-width) {
    margin-top: 100px;
    margin-left: 60px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    order: 1;
    margin: 4px 0 0 40px;
  }
}

.header__functions {
  order: 3;
  width: 100%;
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    order: 2;
    flex-basis: 190px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 290px;
    margin-left: auto;
  }
}

.header__contacts {
  width: 100%;
  margin: 0;
  margin-top: 50px;
  order: 4;

  @media (min-width: $tablet-width) {
    margin-left: 60px;
    margin-top: 150px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__socials {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  order: 5;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-top: 120px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
