.header {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 25px 28px;
  background-color: $main-white;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 40px 40px 75px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 48px 60px;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.header--dark {
  background-color: transparent;

  .menu-button {
    &::before,
    &::after {
      background-color: $main-white;
    }
  }

  .nav {
    &::before {
      background-color: $main-white;
    }
  }

  .nav__link {
    color: $main-white;

    &:hover {
      color: $main-yellow;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.header--scroll {
  position: fixed;
  top: 0;
}

.header__menu-button {
  position: relative;
  margin-left: auto;
  order: 1;

  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__nav {
  width: 100%;
  margin-top: 70px;
  order: 2;

  @media (min-width: $tablet-width) {
    margin-top: 88px;
    margin-left: 52px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    order: 1;
    margin: 4px 0 0 40px;
  }
}

.header__functions {
  order: 3;
  width: 100%;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    order: 2;
    flex-basis: 190px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 290px;
    margin-left: auto;
  }
}

.header__contacts {
  width: 100%;
  margin: 0;
  margin-top: 51px;
  order: 4;

  @media (min-width: $tablet-width) {
    margin-left: 57px;
    margin-top: 124px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__contacts--hide {
  display: none;
}

.header__socials {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-top: 30px;
  order: 5;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-top: 115px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__socials--hide {
  display: none;
}
