.main__prices {
  position: relative;
  margin-bottom: -57px;
  z-index: 2;

  @media (min-width:$tablet-width) {
    margin-bottom: -108px;
  }
}


.main__register {
  position: relative;
  margin-bottom: -75px;
  z-index: 1;

  @media (min-width:$tablet-width) {
    margin-bottom: -62px;
  }

  @media (min-width:$desktop-width) {
    margin-bottom: -60px;
  }
}

.main__map {
  position: relative;
  z-index: 0;
}
