.main__companions {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30px;
  z-index: 15;

  @media (min-width:$tablet-width) {
    margin-bottom: -182px;
  }

  @media (min-width:$desktop-width) {
    margin-bottom: -80px;
  }
}

.main__prices {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -57px;
  z-index: 10;

  @media (min-width:$tablet-width) {
    margin-bottom: -108px;
  }
}


.main__register {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -75px;
  z-index: 5;

  @media (min-width:$tablet-width) {
    margin-bottom: -62px;
  }

  @media (min-width:$desktop-width) {
    margin-bottom: -60px;
  }
}

.main__map {
  position: relative;
  z-index: 0;
}
